.about{
    padding-bottom: 2rem;

    &__bio-image {
        height: 50vh;
        width: 100%;
        background: url('../dist/img/photo-1432265910742-819d660410b4.jpg') left top no-repeat;
        background-size: cover;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: flex-end;


        p{
            margin-bottom: 2rem;
            line-height: 1.6;
        }
    }

    &__bio{
        width: 80%;
        text-align: center;

        .text-secondary {
            padding-bottom: 1rem;
        }

        &--skills{
            .fab{
                font-size: 2rem;
                margin: 10px;

                &:hover{
                    font-size: 2.5rem;
                    color: $numbertwo-color;
                }
            }
        }
    }

    .jobs{
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        &__job{
            background: lighten($numberone-color, 10%);
            padding: 1.5rem;
            line-height: 2;
            font-size: 1.1rem;
            border-bottom: 5px solid $numbertwo-color;

            h2,h3{
                margin: .5rem 0;
            }

            h6 {
                margin: 0.2rem 0;
            }
        }
    }

    .social-icons{
        display: flex;
        flex-direction: column;
    }

    footer{
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}

