.contact{
    height: 100%;
    padding: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        url('/dist/img/photo-1432265910742-819d660410b4.jpg') center top;
        background-size: cover;
    
    h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    .social-icons{
        display: flex;
        flex-direction: column;
    }

    footer{
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}