.menu-btn{
    position: absolute;
    z-index: 1;
    right: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;

    &__burger{
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: set-text-color($numberone-color);
        @include transition-ease;

        &::before{
            content: "";
            position: absolute;
            top: -8px;
            left: 8px;
            width: 28px;
            height: 3px;
            background: set-text-color($numberone-color);
            @include transition-ease;

        }

        &::after{
            content: "";
            position: absolute;
            bottom: -8px;
            right: 8px;
            width: 28px;
            height: 3px;
            background: set-text-color($numberone-color);
            @include transition-ease;

        }
        
        &.open{
            transform: rotate(720deg);
            background: transparent;
            

            &::before{
                transform: rotate(45deg) translate(5px, 8px);
                background-color: $numbertwo-color;
            }

            &::after{
                background-color: $numbertwo-color;
                transform: rotate(-45deg) translateX(16px);
            }
        }
    }
}

.nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;

    &.open{
        visibility: visible;
    }

    .menu-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background-color: $numberone-color;
        list-style-type: none;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;

        &.open{
            transform: translateY(0);
        }

        &__item{
            transform: translateX(100vw);
            @include transition-ease;

            &.open{
                transform: translateX(0);
            }

            &.active > a {
                color: $numbertwo-color;
            }
        }

        &__link{
            display: block;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 2rem 0;
            font-weight: 300;
            @include transition-ease;

            &:hover{
                color: $numbertwo-color;
            }
        }
    }
}
