@include media-md {
    .menu-btn {
       visibility: hidden;
    }

    .nav{
        visibility: visible;
        

        .menu-nav{
            
            display: block;
            transform: translateY(0);
            flex-direction: row;
            z-index: 10;
            height: 100%;
            
            

            &__item{
                display: inline;
                padding-right: 1rem;
            }

            &__link{
                font-size: 1.5rem;
                float: left;
                margin-left: 30px;
            }
        }

    }
    .about__bio{
        font-size: 1.5rem;
    }

    .projects{
        &__bio-image{
            height: 40vh;
        }

        &__items{
            grid-template-columns: 1fr 1fr;
        }

        .text-secondary{
            font-size: 3rem;
        }

        
    }

    .contact__list{
        grid-template-columns: 1fr 1fr;
    }
}


@include media-lg {
    .projects{
        &__items{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .contact__list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@include media-xl{
    .projects{
        &__bio-image{
            height: 50vh;
        }
    }
}

